doctype html
html
    head(lang="en")
        meta(charset="UTF-8")
        title MongoOverflow API Documentation

    body
        div
        h3 MongoOverflow API Documentation

        div User's API
        div#output

        footer
            div Copyright &copy; MongoOverflow